* {
  margin: 0;
  padding: 0;
}

.cover {
  background: grey;
  color: rgb(196, 238, 10);
  margin: 20px;
  padding: 30px;
  border-bottom-color: darkgreen;
  border-bottom-width: 15px;
}

.cover img {
  height: 300px;
  width: 300px;
}
